name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Cache Go modules
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: go-modules-${{ hashFiles('go.mod', 'go.sum') }}
          restore-keys: go-modules-

      - name: Install dependencies
        run: make deps

      - name: Run tests
        run: make test
